ul{
  list-style: none;
  margin: 0px;
  padding: 60px 0px;
  text-align: center;
}

li{
  color:white;
  height:100px;
  line-height: 150px;
}

.flex-list li{
  flex:auto;
}

.li1{
  background-color: red;
}

.isi1{
  background-image: url(../projek/icon/number-1-large.png);
  width: 40%;

  text-align: center;
  float: left;
  background-repeat: no-repeat;
}

.teks1{
  float: right;
  width: 60%;
}

.li2{
  background-color: blue;
}

.li3{
  background-color: green;
}

.flex-list{
  display: flex;
}
